* {
    margin: 0px;
    border: 0px;
    pad: 0px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: darkblue;

}

img#hero {
    height: 500px;
    border-radius: 200%;
    margin: 50px;
}

#titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1#hero {
    color:white;
    font-size: 90px;
    font-family: 'Dela Gothic One', cursive;
}
h2#hero {
    color: aliceblue;
    font-size: 40px;
    font-family: 'Dela Gothic One', cursive;
}
nav{
    background-color: royalblue;
}
ul#menu{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
li a{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    text-decoration: none;
    color: aliceblue;
    width: 100%;
}
li a:hover{
    color:rgb(222, 233, 66);
}
footer{
    position: fixed;
    bottom: 0px;
    background-color: royalblue;
    width: 100%;
    text-align: center;

}
footer h5#letra{
    color: papayawhip;
}
img#fotinha{
    height: 1000px;
    width: 1300px;
}
p#textinho{
     margin: 0px 50px 0px 50px;
     position: absolute;
     font-size: 65px;
     top: 650px;
    left: 50%;
    color: white;
    font-family: 'Lobster', cursive;
        
}
main{
    background-color: darkblue;
    
}
br#texto1{
    color: aliceblue;
    font-size: 40px;
    text-align: left;
    font-family: 'Lobster', cursive;
    
}
br#texto2{
    color: aliceblue;
    font-size: 40px;
    font-family: 'Lobster', cursive;

}
br#texto3{
    color: aliceblue;
    font-size: 40px;
    font-family: 'Lobster', cursive;
}
br#texto4{
    color: aliceblue;
    font-size: 40px;
    font-family: 'Lobster', cursive;
}
main section#perfil{
    display: flex;
    justify-content: space-evenly;

    flex-direction: column;
    text-align: left;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: white;
}
ul#persona2{
    justify-content: left;
   
}
